doctype html
html
	head
		title Background
		meta(charset="utf-8")
		script(src="/lib/browser-polyfill.min.js")
		script(src="/js/commons/utils.js")
		script(src="/js/commons/message-emitter.js")
	body
		p This is a background page
